{% extends 'base.html' %}

{% block content %}

<div class="register-form">

    <form action="" method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.email }}
        {{ form.password1 }}
        {{ form.password2 }}
        {{ form.first_name }}
        {{ form.last_name }}
        {{ form.date_of_birth }}
        
        {% if form.errors %}
            <div class="form-error">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        
        <button type="submit">Register</button>
    </form>

</div>

{% endblock %}