{% extends 'base.html' %}

{% block content %}
    
    <h1 class="headline">Deposit</h1>
    
    
    <a class="history" href="{% url 'deposit-history' %}">History</a>

    <div class="deposit-form">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.amount }}
            {{ form.description }}
            <button type="submit">Deposit</button>
        </form>

{#        <div class="confirmation-message" style='display:none;'></div>#}

    </div>

{% endblock %}

