{% extends 'base.html' %}

{% block content %}

<div class="wishlist">
    {% if object_list %}
        {% for obj in object_list %}
            <ul>
            <div class="wish-card">
                <li>{{ obj.title }}</li>
                <li>{{ obj.price }}</li>
                <li>{{ obj.date_added }}</li>
                <li>Why I want it: {{ obj.description }}</li>
                <div class="modify-wish-buttons">
                    <button class="wish-button"><a href="{% url 'wishlist-edit' obj.id %}">Edit Wish</a></button>
                        <form action="{% url 'wishlist-delete' obj.id %}" method="post">
                            {% csrf_token %}
                            <button class="wish-button">Delete Wish</button>
                        </form>
                    <form action="{% url 'wishlist-buy' obj.id %}" method="post">
                            {% csrf_token %}
                            <button class="wish-button">Buy item</button>
                        </form>
                                    </div>

                </div>   
            </ul>
        {% endfor %}
    {% else %}
        <p>You haven't added anything to your wishlist yet.</p>
    {% endif %}

    <div class="wishlist-buttons">
        <button><a href="{% url 'wishlist-create' %}">Create a wish</a></button>
        <button><a href="{% url 'bought-items' %}">Bought items</a></button>
    </div>
</div>

{% endblock %}