{% extends 'base.html' %}

{% block content %}

    <h1 class="headline">Wishlist</h1>

    <div class="wishlist-buttons">
        <button><a href="{% url 'wishlist-create' %}">Create a wish</a></button>
        <button><a href="{% url 'bought-items' %}">Bought items</a></button>
    </div>

    <div class="wishlist">
        {% if object_list %}
            {% for obj in object_list %}
                <div class="wish-card">

                    {% if obj.image %}

                        <div class="wish-info">
                                <div class="wish-photo">
                            <img src="{{ obj.image }}" alt="">
                        </div>
                    {% endif %}

                    <ul>
                        <li> {{ obj.title }}</li>
                        <li>{{ obj.price|floatformat:2 }}</li>
                        <li>{{ obj.date_added }}</li>
                    </ul>


                    <div class="modify-wish-buttons">
                        <a href="{% url 'wishlist-edit' obj.id %}"><i class="fa fa-edit" style="font-size: 25px"></i></a>
                        <a href="{% url 'wishlist-delete' obj.id %}"><i class="fa fa-trash-o" style="font-size:25px"></i></a>
                        <a href="{% url 'wishlist-buy' obj.id %}"><i class="fa fa-shopping-cart" style="font-size:25px"></i></a>
                    </div>
                </div>

            </div>
            {% endfor %}
        {% else %}
            <p>You haven't added anything to your wishlist yet.</p>
        {% endif %}


    <div class="pagination">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class='page-button'href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in paginator.page_range %}
                {% if page_obj.number == num %}
                    <strong>{{ num }}</strong>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class='page-button'href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        {% endif %}
    </div>
</div>



{% endblock %}

