{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ExpenseTracker</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

<section class="body-container">
    <header>
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
        </div>

        <nav>
            <ul>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% else %}
                    <li><a href="{% url 'details' request.user.id %}">Account</a></li>
                    <li><a href="{% url 'deposit' %}">Deposit</a></li>
                    <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                    <li><a href="{% url 'expenses' %}">Expenses</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button>Log out</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
                        <p class="funds-counter">Total funds: {{ request.user.balance }}</p>

        </nav>
    </header>

    <div class="content-container">
    
        {% block content %}
    
        {% endblock %}
    
    </div>

</section>





</body>
</html>