{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExpenseTracker</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="logo-text">
    <img  src="{% static 'images/expenses_text.png' %}" alt="">
</div>

<section class="body-container">
    <header>
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
        </div>

        <nav>
            <ul>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% else %}
                    <li><a href="{% url 'details' request.user.id %}">Account</a></li>
                    <li><a href="{% url 'deposit' %}">Deposit</a></li>
                    <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                    <li><a href="{% url 'expenses' %}">Expenses</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button>Log out</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <p class="funds-counter">Total funds: {{ request.user.balance }}</p>
            {% endif %}
        </nav>
    </header>

    <div class="content-container">

        {% block content %}



        {% endblock %}
    
    </div>


</section>


<footer>
    <div><p>&copy; 2024 Expense Tracker. Developed by Mihail Velinov.</p></div>
    <div class="contacts">
        <a href="mailto:mihail.vasilev.velinov@gmail.com"><i style="font-size:24px" class="fa">&#xf0e0;</i></a>
        <a href="https://www.instagram.com/mixailvelinov/"><i style="font-size:24px" class="fa">&#xf16d;</i></a>
        <a href="https://www.linkedin.com/in/mihail-velinov-0a49aa121/"><i style="font-size:24px" class="fa">&#xf08c;</i></a>
        <a href="https://www.facebook.com/mihail.velinov.37/"><i style="font-size:24px" class="fa">&#xf09a;</i></a>

    </div>

</footer>

</body>
</html>


